{
   "env": {
      "browser": true,
      "commonjs": true,
      "es6": true,
      "node": true
   },
   "extends": "eslint:recommended",
   "parserOptions": {
      "ecmaVersion": 6,
      "ecmaFeatures": {
         "jsx": true
      },
      "sourceType": "script"
   },
   "plugins": [
      "eslint-plugin-react"
   ],
   "rules": {
      "indent": [
         "off",
         3
      ],
      "linebreak-style": [
         "off",
         "windows"
      ],
      "quotes": [
         "off",
         "single"
      ],
      "semi": [
         "error",
         "always"
      ],
      "no-undef": [
         "off"
      ],
      "no-unused-vars": [
         "off"
      ],
      "no-inner-declarations": [
         "off"
      ],
      "no-redeclare": [
         "off"
      ],
      "no-console": [
         "off"
      ]
   }
};