# Dependency directories
node_modules/

# NPM
package-lock.json

# Sublime
*.sublime-project
*.sublime-workspace

# WebStorm
.idea/

# ESLint
.eslintrc
.eslintignore

# Static Versions
# archives/'Previous Versions'

# Bacter
public/build/*
src/build/*
