# NPM
node_modules/
package-lock.json

# Sublime
*.sublime-project
*.sublime-workspace

# WebStorm
.idea/

# ESLint
.eslintrc
.eslintignore

# Static Versions
# archives/'Previous Versions'

# Bacter
docs/notes.md
public/build/*
src/build/*
