# Dependency directories
node_modules/

# NPM
package-lock.json

# Sublime
*.sublime-project
*.sublime-workspace

# WebStorm
.idea/

# Static Versions
archives/Previous Versions.zip

# Bacter
public/bundle/*

